{% extends "layout.twig" %}

{% block title %}{{ 'quotes.form.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-edit"></i> {{ 'quotes.form.header'|trans }}</h1>
					<p>{{ 'quotes.form.text'|trans }}</p>
				</div>
			</div>
			<hr>
			<div class="container">
				<form action="{% if result %}{{ path_for('edit-quote', {'locale': locale, 'id': result.id}) }}{% else %}{{ path_for('new-quote', {'locale': locale}) }}{% endif %}" method="post" class="form-horizontal" role="form">
					{{ form.csrf_field(csrf) }}

                    {{ form.field({type: 'select', name: 'teacher', placeholder: 'base.teacher'|trans, value: result.teacher_id, autofocus: true, form_horizontal: true, values: teachers}) }}

                    {{ form.field({name: 'new_teacher', placeholder: 'base.teacher'|trans, form_horizontal: true}) }}

                    {{ form.field({type: 'textarea', name: 'content', placeholder: 'base.content'|trans, value: result.content, form_horizontal: true, class: 'editor'}) }}

					<div class="row">
						<div class="col-xs-12 col-md-3 col-md-push-9">
							<button class="btn btn-block btn-success" type="submit" id="button"><i class="fa fa-check"></i> {{ 'base.save'|trans }}</button>
						</div>
					</div>
				</form>
			</div>
{% endblock %}
{% block scripts %}
		<script src="{{ js.getUrl('tinymce.min.js') }}"></script>
		<script src="{{ js.getUrl('tinymce.init.min.js') }}"></script>
{% endblock %}
