{% extends "layout.twig" %}

{% block title %}{{ 'quotes.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-list"></i> {{ 'quotes.header'|trans }}</h1>
					<p>{{ 'quotes.text'|trans }}</p>
                    {% if auth.check() %}
                        <p><a class="btn btn-success" href="{{ path_for('new-quote', {'locale': locale}) }}"><i class="fa fa-plus"></i> {{ 'base.new'|trans }}</a></p>
                    {% endif %}
				</div>
			</div>
            <hr>
            <div class="container">
{% for result in results %}
{% if loop.index is odd %}
				<div class="row">
{% endif %}
					<div class="col-xs-12 col-md-6">
                        <blockquote>
						    <p>{{ result.content|raw }}</p>
                            <footer>
                                <cite title="{{ result.teacher.name }}"><a class="btn btn-success" href="{{ path_for('teacher', {'locale': locale, 'id':  result.teacher.id }) }}">{{ result.teacher.name }}</a></cite>{% if auth.isAdmin() %} ({{ 'base.inserted_by'|trans({':name': result.user.name}) }}){% endif %}
                            </footer>
                        </blockquote>
{% if result.user_id == auth.getUser().id or auth.isAdmin() %}
                        <a class="btn btn-info" href="{{ path_for('edit-quote', {'locale': locale, 'id': result.id }) }}"><i class="fa fa-pencil"></i> {{ 'base.edit'|trans }}</a>
                        <a class="btn btn-danger" href="{{ path_for('delete-quote', {'locale': locale, 'id': result.id }) }}"><i class="fa fa-trash"></i> {{ 'base.delete'|trans }}</a>
{% endif %}
                    </div>
{% if loop.index is even %}
				</div>
{% endif %}
{% else %}
        		<p>{{ 'base.no-result'|trans }}</p>
{% endfor %}
{% if results|length is odd %}
				</div>
{% endif %}
                {{ results.links()|raw }}
			</div>
{% endblock %}
