{% extends "layout.twig" %}

{% block title %}{{ 'products.create.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-edit"></i> {{ 'products.create.header'|trans }}</h1>
					<p>{{ 'products.create.text'|trans }}</p>
				</div>
			</div>
			<hr>
			<div class="container">
				<form action="{% if element is defined %}{{ path_for('modifica-prodotto', {'locale': locale, 'id': element.id}) }}{% else %}{{ path_for('nuovo-prodotto', {'locale': locale }) }}{% endif %}" method="post" class="form-horizontal" role="form">
					{{ form.csrf_field(csrf) }}

                    <div class="form-group">
                        <label for="name" class="col-xs-12 col-sm-2 control-label">{{ 'name'|trans }}</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control" name="name" id="name" type="text" value="{{ element.name }}" required>
                        </div>
                    </div>

                    <div class="form-group">
						<label for="description" class="col-xs-12 control-label" style="text-align:left">{{ 'description'|trans }}</label>
						<div class="col-xs-12">
							<textarea name="description" id="description" class="editor">{{ element.description }}</textarea>
						</div>
                    </div>

					<p><strong>{{ 'products.table'|trans }}</strong></p>
					<div id="rows">
						<div class="pull-right">
							<button class="btn btn-block btn-primary" type="button" id="add-row"><i class="fa fa-plus"></i> {{ 'add'|trans }}</button>
						</div>
						<div class="clearfix"></div>
{% for row in rows %}

						<input name="row_id[]" type="hidden" value="{{ row.id }}">

						<div class="form-group">
							<label for="table" class="col-xs-12 col-sm-2 control-label">{{ 'row-name'|trans }}</label>
							<div class="col-xs-12 col-sm-10">
								<input class="form-control" name="row_name[]" id="table" type="text" value="{{ row.name }}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="value" class="col-xs-12 col-sm-2 control-label">{{ 'row-value'|trans }}</label>
							<div class="col-xs-12 col-sm-10">
								<input class="form-control" name="row_value[]" id="value" type="text" value="{{ row.value }}" required>
							</div>
						</div>
						<hr>

{% endfor %}

					</div>

					<p><strong>{{ 'products.sections'|trans }}</strong></p>
					<div id="sections">
						<div class="pull-right">
							<button class="btn btn-block btn-primary" type="button" id="add-section"><i class="fa fa-plus"></i> {{ 'add'|trans }}</button>
						</div>
						<div class="clearfix"></div>


					</div>
					<br>

					<div class="row">
						<div class="col-xs-12 col-md-3 col-md-push-9">
							<button class="btn btn-block btn-success" type="submit" id="button"><i class="fa fa-check"></i> {{ 'save'|trans }}</button>
						</div>
					</div>
				</form>
			</div>

			<div class="hidden" id="row_sample">
				<input name="row_id[]" type="hidden" value="">

				<div class="form-group">
					<label for="table" class="col-xs-12 col-sm-2 control-label">{{ 'row-name'|trans }}</label>
					<div class="col-xs-12 col-sm-10">
						<input class="form-control" name="row_name[]" id="table" type="text" required>
					</div>
				</div>

				<div class="form-group">
					<label for="value" class="col-xs-12 col-sm-2 control-label">{{ 'row-value'|trans }}</label>
					<div class="col-xs-12 col-sm-10">
						<input class="form-control" name="row_value[]" id="value" type="text" required>
					</div>
				</div>
				<hr>
			</div>

			<div class="hidden" id="section_sample">
			</div>
{% endblock %}
{% block scripts %}
		<script src="{{ base_url() }}{{ paths.js }}tinymce.min.js"></script>
		<script src="{{ base_url() }}{{ paths.js }}tinymce.init.min.js"></script>
		<script>
			$('#rows button').click(function(){
				$('#rows').append($('#row_sample').html());
			});

			$('#sections button').click(function(){
				$('#sections').append($('#section_sample').html());
			})
		</script>
{% endblock %}