{% extends "layout.twig" %}

{% block title %}{{ 'products.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-list"></i> {{ 'products.header'|trans }}</h1>
					<p>{{ 'products.text'|trans }}</p>
				</div>
			</div>
			<hr>
			<div class="container">
{% for element in elements %}
{% if loop.index is odd %}
				<div class="row">
{% endif %}
					<div class="col-xs-12 col-md-6">
						<h3><a href="{{ path_for('prodotto', {'locale': locale, 'id': element.id }) }}">{{ element.name }}</a></h3>
					</div>
{% if loop.index is even %}
				</div>
{% endif %}
{% else %}
        		<p>{{ 'products.no-products'|trans }}</p>
{% endfor %}
{% if elements|length is odd %}
				</div>
{% endif %}
			</div>
{% endblock %}