{% extends "layout.twig" %}

{% block title %}{{ 'courses.title'|trans }}{% endblock %}
{% block content %}
			<div class="jumbotron">
				<div class="container text-center">
					<h1><i class="fa fa-list"></i> {{ 'courses.header'|trans }}</h1>
					<p>{{ 'courses.text'|trans }}</p>
                    {% if auth.admin() %}
                        <p><a class="btn btn-success" href="{{ path_for('new-course', {'locale': locale}) }}"><i class="fa fa-plus"></i> {{ 'base.new'|trans }}</a></p>
                    {% endif %}
				</div>
			</div>
			<hr>
			<div class="container">

{% for result in results %}
{% if loop.index is odd %}
				<div class="row">
{% endif %}
					<div class="col-xs-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="{{ path_for('course', {'locale': locale, 'id': result.id }) }}">{{ result.name }}</a></div>
                            <div class="panel-body">
                                <p><strong>{{ 'base.time'|trans }}</strong>: {% for row in result.times %}{{ row.name }}{%if not loop.last %}, {% endif %}{% endfor %}.</p>
                                <p><strong>{{ 'base.place'|trans }}</strong>: {{ result.place }}.</p>
                                <p>{{ 'base.description'|trans }}:</p>
                                <p>{{ result.description }}</p>
{% set subscribed = auth.user().isSubscribedTo(result) %}
{% set freeTime = auth.user().isFreeTime(result) %}
{% if subscribed or freeTime %}

                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-block btn-{% if subscribed %}warning{% else %}success{% endif %}" href="{{ path_for('course-action', {'locale': locale, 'id': result.id }) }}"><i class="fa fa-refresh"></i> {% if subscribed %}{{ 'base.unsubscribe'|trans }}{% elseif freeTime %}{{ 'base.subscribe'|trans }}{% endif %}</a>
                                    </div>
                                </div>
{% endif %}
{% if auth.admin() %}

                                <hr>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-info" href="{{ path_for('edit-course', {'locale': locale, 'id': result.id }) }}"><i class="fa fa-pencil"></i> {{ 'base.edit'|trans }}</a>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-danger pull-right" href="{{ path_for('delete-course', {'locale': locale, 'id': result.id }) }}"><i class="fa fa-trash"></i> {{ 'base.delete'|trans }}</a>
                                    </div>
                                </div>
{% endif %}
                            </div>
                        </div>
					</div>
{% if loop.index is even %}
				</div>
{% endif %}
{% else %}
        		<p>{{ 'base.no-result'|trans }}</p>
{% endfor %}
{% if results|length is odd %}
				</div>
{% endif %}
                {{ results.links()|raw }}
			</div>
{% endblock %}
